.admin-main-content{
flex:18;
min-height:40rem;
}
// .example-container {
//   width: 400px;
//   height: 200px;
//   margin: 10px;
//   border: 1px solid #555;
// }
.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.admin-sidenav{
  flex-direction: column;
  flex: 1 0 auto;
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.admin-wrapper{
  display:flex;

  flex-direction: row;
}
