<!-- <button mat-raised-button color="accent" (click)="goToPrevious()">Back</button> -->
<mat-card class="view-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{blogModel.authorName}}</mat-card-title>
    <mat-card-subtitle>Mean stack Developer / content writer </mat-card-subtitle>
    <mat-card-subtitle>15 Dec.   {{blogModel.readingTime}} </mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image [src]="blogModel.blog" alt="Photo of a Shiba Inu"> -->
  <mat-card-content id="view-card-content">
    <div class="image">
      <img mat-card-image id="imageBlog" [src]="blogModel.blogimageUrl" >
    </div>
    <div class="blogContent">
      <h1>{{blogModel.blogTitle}}</h1>
      <!-- <code>{{blogModel.blogContent}}</code> -->
      <h4><span class="contentHtml" [innerHTML]="blogModel.blogContent"></span></h4>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <section class="action">
      <section class="left-action">
      <!-- <button mat-button>LIKE</button> -->
      <span [matTooltip]="toolTip">{{1+ blogModel.totalLikes}}</span><mat-icon (click)="likeBlog()">star</mat-icon>
      </section>
      <section class="spacer">
      </section>
      <!-- <button mat-button>SHARE</button> -->
      <section class="right-action" >
        <mat-icon matTooltip="Comment" (click)="goToCommentBox()">comment</mat-icon>{{noOfComments}}
        <mat-icon matTooltip="Bookmark this story to read later">bookmark</mat-icon>
        <mat-icon matTooltip="Setting">settings</mat-icon>
      </section>
  </section>
  </mat-card-actions>
</mat-card>
<section class="spacer">
</section>
<section *ngIf="commentBox">
  <mat-card class="comment-card">
    <mat-card-header (click)="changeCommentHtml()">
      <div mat-card-avatar class="example-header-image"></div>
      <span *ngIf="!headerTitle">Write a Comment .......</span>
      <mat-card-title *ngIf="headerTitle">{{blogModel.authorName}}</mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="headerTitle">
        <textarea class="commentarea" [(ngModel)]="comment"></textarea>
        <!-- <div [innerHtml]= "emogiHtml"></div> -->
        <!-- <mat-icon>{{emogiHtml}}</mat-icon> -->
        <section class="insertEmogi">
          <section  *ngFor = "let emogi of emogiCollection">
            <mat-icon (click)="selectEmogi(emogi)">{{emogi}}</mat-icon>
          </section>
      </section>
    </mat-card-content>
    <mat-card-actions *ngIf="headerTitle">
      <button mat-button (click)="postComment()">Post</button>
      <button mat-button (click)="cancelComment()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</section>
<section class="spacer">
</section>
<section *ngIf="commentBox">
  <mat-card class="comment-card" (click)="showAllComment()">
    <span [innerHtml]="commentsLoadMsg"> </span>
  </mat-card>
  <section *ngFor = "let comment of commentArray ; let i = index ">
    <mat-card class="comment-card" (click)="showAllComment()">
      <mat-card-header >
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title >{{comment.userProfileName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content >
          <span [innerHtml]>{{comment.message}}</span>
      </mat-card-content>
      <mat-card-actions >{{comment.totalLikes}}
        <button mat-button (click)="LikeComment(i)">Like</button>
        <button mat-button (click)="PostReply(i)">Reply</button>
      </mat-card-actions>
      <div *ngIf="replybox && !(commentIndex-i)">
        <section *ngFor="let reply of comment.replies ; let replyIndex = index">
          <!-- {{reply.message}} -->
          <mat-card>
            <mat-card-header >
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title >{{reply.userProfileName}}</mat-card-title>
              </mat-card-header>
              <mat-card-content >
                <span [innerHtml]>{{reply.message}}</span>
            </mat-card-content>
            <mat-card-actions >
              <!-- <button mat-button (click)="LikeReply(i, replyIndex)">Like</button> -->
            </mat-card-actions>
          </mat-card>
        </section>
        <mat-form-field class="comment-full-width">
          <textarea matInput [(ngModel)]="reply" placeholder="Write a reply..."></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addReply(i)">Reply</button>
      </div>
    </mat-card>
  </section>
</section>
